.jjuu {
  padding: 30px;
  border-radius: 100%;
  margin-top: 20vh;
}
.jjuu1 {
  padding: 20px;
  border-radius: 100%;
  margin-top: 20vh;
}
.jjuu2 {
  padding: 10px;
  border-radius: 100%;
  margin-top: 20vh;
}
.jjuu3 {
  padding: 50px;
  border-radius: 100%;
  margin-top: 20vh;
}
.jjuu4 {
  padding: 50px;
  border-radius: 100%;
  margin-top: 20vh;
}
